/*Header Styles*/

html {
    font-family: sans-serif;
    background-color: #363636;
}
#logo {
    height: 134.5px;
    width: auto;
/*    margin: 10px;*/
/*    padding: .25em;*/
    float: left;
}
#head {
    font-size: 3.5em;
    color: #363636;
    margin: 15px;
    padding-top: 1em;
    float: left;
}

/*End Header Styles*/

.clear {
    clear: both;
}
.space {
    padding: 3em;
}

/*Navigation Styles*/

ul {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    background-color: #363636;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #DE5C34;
}
.active {
    background-color: #525252;
    color: white;
}

/*End Navigation Styles*/

/*Universal Styles*/

h2 {
    color: #363636;
    font-size: 3em;
    margin: 5px;
    padding: 0;
}

p {
    color: black;
    font-size: 1.2em;
    margin: 0;
    padding: .5em;
    
}

#wrapper {
    background-color: #F5F5F5;
    min-width: 700px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    border: 1px outset #DEDEDE;
    border-radius: 3px;
    padding: 1em;
    box-shadow: outset 3px 3px -3px -3px #363636;
}

/*End Universal Styles*/

/*Index Styles*/

#intro {
    width: 480px;
    float: right;
}

#intro p {
    text-align: justify;
    margin: 0;
}
.video {
    margin: 5px;
    float: left;
    width: 50%;
    height: auto;
}
/*End Index Styles*/

/*Parts List Styles*/

#summary {
    float: left;
    width: 50%;
}
#summary ul li {
    background-color: white;
}
#partslist {
    float: right;
    width: 50%;
}

/*End Parts List Styles*/

/*About Styles*/

.about {
    width: 75%;
}

/*End About Styles*/

/*Footer Styles*/

footer {
    font-family: serif;
    font-size: .75em;
    font-style: italic;
}

/*End Footer Style*/